@page "/skiasharp/scale"
@using SkiaSharp
@using SkiaSharp.Views.Blazor
@attribute [RoutePriority(3)]

//https://segmentfault.com/a/1190000043426062

<div class="container">
    <div class="row">
        <div class="col border rounded p-2 canvas-container position-relative">

            <div style="position: absolute;bottom: 10px;left:15%; transform: translateX(-50%);z-index: 10;">
                <button class="btn btn-primary" @onclick="HandleZoomIn">+</button>
                <button class="btn btn-primary" @onclick="HandleZoomOut">-</button>
            </div>

            <SKCanvasView @ref="skiaView" OnPaintSurface="OnPaintSurface" 
                          IgnorePixelScaling="false"
                          @onmousemove="OnMouseMove"
                          @onwheel="OnWheel"
                          />

        </div>
    </div>
</div>


@code 
{
    SKCanvasView skiaView = null!;
    private ViewportManager viewport = null!;


    void OnPaintSurface(SKPaintSurfaceEventArgs e)
    {
        Console.WriteLine("OnPaintSurface");

        SKSurface surface = e.Surface;
        SKCanvas canvas = surface.Canvas;
        canvas.Clear(SKColors.White);

        if (viewport == null)
        {
            Console.WriteLine("Canvas Size:" + "Width:" + e.Info.Size.Width + " Height:" + e.Info.Size.Height);

            Console.WriteLine("Dpi:" + skiaView.Dpi);

            viewport = new ViewportManager(e.Info.Size,dpi:(float)skiaView.Dpi);

        }

        var matrix = viewport.GetTransformMatrix();

        canvas.SetMatrix(matrix);

        Console.WriteLine($"matrix scaleX:{matrix.ScaleX} scaleY:{matrix.ScaleY} transX:{matrix.TransX} transY:{matrix.TransY}");

        // 在这里绘制你的内容
        // 例如：
        using (SKPaint paint = new SKPaint { Color = SKColors.Blue })
        {
            canvas.DrawCircle(0, 0, 100, paint);

            paint.Color = new SKColor(255, 0, 0);

            canvas.DrawCircle(200,200, 2, paint);
        }

    }

    void OnMouseMove(MouseEventArgs e)
    {
        var screenPoint = new SKPoint((float)e.OffsetX, (float)e.OffsetY);

        var woldPoint = viewport.ScreenToWorld(screenPoint);

        //打印坐标
        Console.WriteLine($"mouse x:{e.OffsetX} y:{e.OffsetY} . world x:{woldPoint.X} y:{woldPoint.Y}");
    }

    void OnWheel(WheelEventArgs e)
    {
        viewport.Zoom((float)e.DeltaY, new SKPoint((float)e.OffsetX, (float)e.OffsetY));

        skiaView.Invalidate(); // 触发重绘
    }

    void HandleZoomIn(MouseEventArgs e)
    {
        viewport.Zoom(-100, viewport.Center);
        skiaView.Invalidate();
    }

    void HandleZoomOut(MouseEventArgs e)
    {
        viewport.Zoom(100, viewport.Center);
        skiaView.Invalidate();
    }
}
