@page "/skiasharp/move"
@using BlazorWebassembly.Pages.skiasharp.Commands
@using BlazorWebassembly.Pages.skiasharp.Draws
@using BlazorWebassembly.Pages.skiasharp.Tools
@using SkiaSharp
@using SkiaSharp.Views.Blazor

@inject IJSRuntime JSRuntime
@attribute [RoutePriority(10)]

<div class="container">
    <div class="row">
        <div class="col border rounded p-2 canvas-container position-relative">

            <div style="position: absolute;bottom: 10px;left:15%; transform: translateX(-50%);z-index: 10;">
                <button class="btn btn-primary" @onclick="DrawLine">Line</button>
                <button class="btn btn-primary" @onclick="Undo">Undo</button>
                <button class="btn btn-primary" @onclick="Redo">Redo</button>
            </div>

            <SKCanvasView @ref="skiaView" OnPaintSurface="OnPaintSurface"
                          IgnorePixelScaling="false"
                          @onmousemove="OnMouseMove"
                          @onmousedown="OnMouseDown"
                          @onmouseup="OnMouseUp"
                          @onwheel="OnWheel" />

        </div>
    </div>
</div>

@code
{
    SKCanvasView skiaView = null!;
    private ViewportManager _viewportManager = null!;
    private DrawManager _drawManager = null!;
    private ToolManager _toolManager = null!;
    private CommandManager _commandManager = null!;

    void OnPaintSurface(SKPaintSurfaceEventArgs e)
    {
        Console.WriteLine("OnPaintSurface");

        SKSurface surface = e.Surface;
        SKCanvas canvas = surface.Canvas;
        canvas.Clear(SKColors.White);

        if (_viewportManager == null)
        {
            Console.WriteLine("Canvas Size:" + "Width:" + e.Info.Size.Width + " Height:" + e.Info.Size.Height);

            Console.WriteLine("Dpi:" + skiaView.Dpi);

            _viewportManager = new ViewportManager(e.Info.Size, dpi: (float)skiaView.Dpi);

            _drawManager = new DrawManager(skiaView);

            _toolManager = new ToolManager();

            _commandManager = new CommandManager(_drawManager);
        }

        var matrix = _viewportManager.GetTransformMatrix();

        canvas.SetMatrix(matrix);

        Console.WriteLine($"matrix scaleX:{matrix.ScaleX} scaleY:{matrix.ScaleY} transX:{matrix.TransX} transY:{matrix.TransY}");

        // 在这里绘制你的内容
        // 例如：
        using (SKPaint paint = new SKPaint { Color = SKColors.Blue })
        {
            canvas.DrawCircle(0, 0, 100, paint);

            paint.Color = new SKColor(255, 0, 0);

            canvas.DrawCircle(200, 200, 2, paint);
        }

        _drawManager.Draw(canvas);

    }

    async Task OnMouseMove(MouseEventArgs e)
    {
        var screenPoint = new SKPoint((float)e.OffsetX, (float)e.OffsetY);

        var worldPoint = _viewportManager.ScreenToWorld(screenPoint);

        //打印坐标
        //Console.WriteLine($"mouse x:{e.OffsetX} y:{e.OffsetY} . world x:{woldPoint.X} y:{woldPoint.Y}");



        if (_toolManager.CurrentTool != null)
        {
            _toolManager.MouseMove(worldPoint);
        }
        else
        {
            if( _drawManager.HitTest(worldPoint) != null)
            {
                await JSRuntime.InvokeVoidAsync("changeCursor", "move");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("changeCursor", "default");
            }
        }


    }

    void OnMouseDown(MouseEventArgs e)
    {
        var screenPoint = new SKPoint((float)e.OffsetX, (float)e.OffsetY);

        var worldPoint = _viewportManager.ScreenToWorld(screenPoint);

        //button middle
        if (e.Button == 1)
        {
            _toolManager.SetTool(new PanTool(_drawManager,_toolManager,_viewportManager));
        }

        if (_toolManager.CurrentTool != null)
        {
            _toolManager.MouseDown(worldPoint);
        }
        else
        {
            if( _drawManager.HitTest(worldPoint) != null)
            {
                _toolManager.SetTool(new MoveTool(_drawManager,_toolManager,_commandManager));
                _toolManager.MouseDown(worldPoint);
            }
        }
    }

    void OnMouseUp(MouseEventArgs e)
    {
        var screenPoint = new SKPoint((float)e.OffsetX, (float)e.OffsetY);

        var worldPoint = _viewportManager.ScreenToWorld(screenPoint);

        _toolManager.MouseUp(worldPoint);
    }

    void OnWheel(WheelEventArgs e)
    {
        _viewportManager.Zoom((float)e.DeltaY, new SKPoint((float)e.OffsetX, (float)e.OffsetY));

        skiaView.Invalidate(); // 触发重绘
    }

    async Task DrawLine(MouseEventArgs e)
    {
        await JSRuntime.InvokeVoidAsync("changeCursor", "crosshair");

        _toolManager.SetTool(new LineTool(_drawManager,_toolManager,_commandManager));
       
    }

    public void Undo()
    {
        _commandManager.Undo();
    }

    public void Redo()
    {
        _commandManager.Redo();
    }

}
