<h3>Component</h3>

@* 组件必须在被父组件添加到组件层次结构时进行渲染。这是组件必须进行渲染的唯一时机。
根据它们自己的逻辑和约定，组件可能在其他时间进行渲染。 *@

@* 渲染，Razor组件继承自ComponentBase基类，该基类包含在以下时机触发重新渲染的逻辑： *@

@* 1. 采纳了来自父组件的更新参数后。 *@
@* 2. 采纳了更新后的级联参数值。 *@
@* 3. 在收到事件通知调用自己的事件处理程序之后。 *@
@* 4. 调用自己的StateHasChanged方法后 *@

@* 如果满足以下任一条件，从ComponentBase继承的组件将跳过重新渲染： *@

@* 1. 和上一次渲染参数设置以来没有改变。 *@
@* 2. 该组件的 ShouldRender 方法返回 false 。 *@

@* 调用StateHasChanged可以在任何时候触发渲染。
然而，要小心不要不必要地调用StateHasChanged，这是一个常见的错误，会带来不必要的渲染成本。 *@

@* 1. 处理事件是常规操作，因为ComponentBase会触发大多数常规事件处理程序的渲染。 *@
@* 2. 实现典型的生命周期逻辑，例如 OnInitialized 或 OnParametersSetAsync ，因为ComponentBase会触发典型生命周期事件的渲染。 *@

@code {

}
