@namespace MudTheme.Pages.Dashboard.Analysis
@inherits MudComponentBase

<div class="miniProgress">
    <div class="progressWrap">
        <div class="progress"
             style="
                background-color: @Color;
                width: @(Percent.HasValue ? $"{Percent}%" : "");
                height: @(StrokeWidth.HasValue ? $"{StrokeWidth}px" : "");" />
    </div>
</div>

@code {
    [Parameter]
    public int? Target { get; set; }

    [Parameter]
    public string TargetLabel { get; set; }

    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public int? StrokeWidth { get; set; }

    [Parameter]
    public int? Percent { get; set; }
}
