@using MudTheme.Services
@namespace MudTheme.Pages.Dashboard.Analysis
@inject IChartService ChartService

<div>
    <MudChart 
        ChartType="ChartType.Line" 
        ChartOptions="@ChartOptions" 
        ChartSeries="@Series" 
        XAxisLabels="@XAxisLabels" 
        Width="310px" 
        Height="45px"></MudChart>
</div>

@code
{
    public string[] XAxisLabels = { "1", "2"};

    public List<ChartSeries> Series = new List<ChartSeries>()
    {
    };

    public ChartOptions ChartOptions = new ChartOptions
    {
        DisableLegend = true,    
    };

    Random random = new Random();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        //var data = await ChartService.GetVisitDataAsync();

        var new_series = new List<ChartSeries>()
        {
            new ChartSeries() { Name = "Series 1", Data = new double[20] },
            new ChartSeries() { Name = "Series 2", Data = new double[20] },
        };
        for (int i = 0; i < 19; i++)
        {
            new_series[0].Data[i] = random.NextDouble() * 100;
            new_series[1].Data[i] = random.NextDouble() * 100;
        }

        Series = new_series;
        StateHasChanged();
        
    }
}