@page "/lifecycles/counter-with-timer-disposal-1"
@using System.Timers
@implements IDisposable

@attribute [RoutePriority(7)]

@* 如果一个组件实现了IDisposable、IAsyncDisposable或两者，当组件从UI中移除时，框架会调用非托管资源的释放。
释放可以在任何时间发生，包括组件初始化期间。 *@

<h1>Counter with <code>Timer</code> disposal</h1>

<p>Current count: @currentCount</p>

@code {
    private int currentCount = 0;
    private Timer timer = new(1000);

    protected override void OnInitialized()
    {
        timer.Elapsed += (sender, eventArgs) => OnTimerCallback();
        timer.Start();
    }

    private void OnTimerCallback()
    {
        _ = InvokeAsync(() =>
        {
            currentCount++;
            StateHasChanged();
        });
    }

    public void Dispose() => timer.Dispose();
}
