@using static BlazorWebApp.Components.Pages.loop.TodoList

<button @onclick="() => DeleteItem(Item.Id)">Delete</button>


@code
{
    [Parameter]
    public TodoItem Item { get; set; }

    [Parameter]
    public EventCallback<int> OnDelete { get; set; }

    private async Task DeleteItem(int id)
    {
        await OnDelete.InvokeAsync(id);
    }
}