@page "/data-binding/password-binding"
@attribute [RoutePriority(9)]

<h1>Password Binding</h1>

@* 示例将密码单向绑定从子组件 PasswordEntry 到父组件 PasswordBinding 。是一个单向的数据绑定 *@

@* 如果组件目标是为应用程序提供一个可共享的密码输入组件，以便在整个应用程序中重复使用，仅仅将密码传递给父组件即可。 *@

@* Parent2 例子则可以实现双向绑定 *@

<PasswordEntry @bind-Password="password" />

<p>
    <code>password</code>: @password
</p>

@code {
    private string password = "Not set";
}
